body {
    background: #111;
}

/* Map */
.svgMap-map-wrapper {
    background: #111 !important;
}

.mobile {
    display: none;
}


/* GitHub Repository Link */
.github-fork-ribbon:before {
    background: #f2a900 !important;
}

@media (max-width : 960px) {
    h1 {
        font-size: 1.2rem;
        color: #f2a900;
        text-align: center;
    }
    .mobile {
        display: block;
    }

    /* GitHub Repository Link */
    .github-fork-ribbon {
        display: none;
    }
}
