body {
    background: #111;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Map */
.svgMap-map-wrapper {
    background: #111 !important;
}

.mobile {
    display: none;
}


/* GitHub Repository Link */
.github-fork-ribbon:before {
    background: #F7931A !important;
}

@media (max-width : 960px) {
    h1 {
        font-size: 1.2rem;
        color: #F7931A;
        text-align: center;
    }
    .mobile {
        display: block;
    }
    footer {
        font-size: 0.7rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    footer i {
        font-size: 2rem;
        padding: 1rem 1rem 0rem 1rem;
    }

    /* GitHub Repository Link */
    .github-fork-ribbon {
        display: none;
    }
}
